@media screen and (min-width: 800px) {
	nav {
		padding-bottom: 30px;
		div.burger {
			display: none;
		}
		div.nav-links {
			flex-basis: 70%;
			max-width: 800px;
			display: flex;
			justify-content: space-between;
			a {
				display: inline-block;
				padding: 15px 20px;
				color: $dark-grayish-violet;
				font-weight: 700;
				transition: 0.3s ease;

				&:hover {
					color: $dark-violet;
				}

				&:last-of-type {
					color: $dark-violet;
					outline: 2px solid $dark-violet;

					&:hover {
						color: $white;
						background-color: $very-dark-violet;
					}
				}
			}
		}
	}
	div.first-block {
		background: url(../../images/bg.svg) no-repeat;
		background-size: cover;
		background-clip: content-box;
		overflow: hidden;
		height: 1000px;
		position: relative;
		padding-bottom: 350px;
		margin-bottom: 0px;

		&::before {
			content: " ";
			display: block;
			width: 210px;
			height: 500px;
			background: url(../../images/bg-pattern-intro-left-desktop.svg) no-repeat;
			background-size: auto;
			position: absolute;
			left: 0;
			bottom: 20px;
			z-index: 5;
		}

		div.first-block-container {
			@include mobile-container;
			background: transparent;
			position: static;
			z-index: 0;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding-bottom: 250px;

			&::before {
				content: none;
			}

			&::after {
				width: 450px;
				height: 600px;
				background: url(../../images/bg-pattern-intro-right-desktop.svg) no-repeat;
				position: absolute;
				top: -70px;
				right: -20px;
				z-index: 5;
			}

			figure {
				order: 1;
				flex-basis: 40%;
				min-width: 400px;

				img {
					content: url(../../images/image-intro-desktop.jpg);
					display: block;
					width: 100%;
					height: auto;
					min-height: 500px;
					object-fit: cover;
					position: relative;
					z-index: 5;
					top: 100px;
				}
			}

			section {
				margin: 0;
				padding-bottom: 0;
				flex-basis: 45%;
				position: relative;
				z-index: 5;
				top: 200px;

				&:before {
					content: " ";
					display: block;
					width: 210px;
					height: 1px;
					background-color: $white;
					position: absolute;
					left: 0;
					top: -100px;
					z-index: 5;
				}

				h1 {
					color: $white;
					font-family: $font-family-heading;
					font-weight: 400;
					font-size: 2.8rem;
					text-align: left; //changed
				}
				p {
					font-size: 1.1rem;
					margin-top: 20px;
					color: $white;
					font-family: $font-family-body;
					text-align: left; //changed
					line-height: 1.6;
				}
				a {
					display: block;
					margin: 25px 0; //changed
					padding: 15px 30px;
					color: $white;
					text-transform: uppercase;
					font-family: $font-family-body;
					font-size: 1rem;
					font-weight: 700;
					letter-spacing: 3px;
					background-color: $dark-violet;
					border: 2px solid $white;
					transition: 0.3s ease-in;

					&:hover {
						background-color: $white;
						color: $dark-violet;
						cursor: pointer;
					}
				}
			}
		}
	}

	div.second-block {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: min-content min-content;
		justify-content: space-between;
		@include mobile-container;

		&:before {
			left: 0;
			transform: none;
			top: -50px;
		}

		h1 {
			font-size: 3.5rem;
			text-align: left;
			grid-area: 1/1/2/4;
		}

		div.block {
			align-items: flex-start;
			margin: 0;
			width: 100%;
			margin-bottom: 80px;

			h2 {
				text-align: left;
				font-size: 2rem;
			}
			p {
				text-align: left;
				font-size: 1.2rem;
				width: 95%;
			}
		}
	}

	div.third-block {
		flex-direction: row;
		justify-content: space-around;
		padding: 50px 0;
		height: 250px;

		&::before {
			width: 500px;
			height: 287.36px;
			background: url(../../images/bg-pattern-how-we-work-desktop.svg) no-repeat;
			background-size: cover;
			bottom: 0;
			right: 0;
			z-index: 0;
		}

		h1 {
			z-index: -0;
			flex-basis: 40%;
			margin: 2;
			text-align: left;
			font-size: 3.5rem;
		}
		a {
			z-index: 2;
			margin: 0;
		}
	}

	header.first-header {
		background: none;

		div.container {
			flex-direction: row;
			padding: 0;
		}
	}
}
