@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  /* Set core root defaults */
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  overflow-x: hidden;
}

.overflow-hide {
  overflow-y: hidden;
}

nav {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 25px;
}

nav img {
  width: 130px;
}

nav div.burger {
  height: 45px;
  outline: 2px solid #2d2640;
  padding: 10px;
}

nav div.burger div {
  margin: 5px auto;
  height: 3px;
  width: 25px;
  background: black;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

nav div.burger:hover {
  cursor: pointer;
}

nav div.active-burger div#line1 {
  -webkit-animation: line1 0.5s forwards;
          animation: line1 0.5s forwards;
}

nav div.active-burger div#line2 {
  display: none;
}

nav div.active-burger div#line3 {
  -webkit-animation: line3 0.5s forwards;
          animation: line3 0.5s forwards;
}

@-webkit-keyframes line1 {
  to {
    -webkit-transform: rotate(45deg) translate(1px, -5px);
            transform: rotate(45deg) translate(1px, -5px);
  }
}

@keyframes line1 {
  to {
    -webkit-transform: rotate(45deg) translate(1px, -5px);
            transform: rotate(45deg) translate(1px, -5px);
  }
}

@-webkit-keyframes line3 {
  to {
    -webkit-transform: rotate(-45deg) translate(-2px, 8px);
            transform: rotate(-45deg) translate(-2px, 8px);
  }
}

@keyframes line3 {
  to {
    -webkit-transform: rotate(-45deg) translate(-2px, 8px);
            transform: rotate(-45deg) translate(-2px, 8px);
  }
}

nav div.nav-links {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  display: none;
}

nav div.active-burger-content {
  position: absolute;
  z-index: 5;
  top: 90px;
  bottom: 0;
  left: 0;
  height: calc(100vh-90px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2b272f url(../../images/bg-pattern-mobile-nav.svg) no-repeat bottom;
  background-size: 100%;
  -webkit-animation: animate-burger-content 0.8s ease-out both;
          animation: animate-burger-content 0.8s ease-out both;
}

@-webkit-keyframes animate-burger-content {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes animate-burger-content {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

nav div.active-burger-content a {
  display: block;
  width: 90%;
  text-align: center;
  margin: 25px auto 0;
  padding: 10px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.835);
  font-size: 1.5rem;
  letter-spacing: 2px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-animation: animate-burger-content-links 0.6s ease-out both;
          animation: animate-burger-content-links 0.6s ease-out both;
}

@-webkit-keyframes animate-burger-content-links {
  from {
    opacity: 0;
    -webkit-transform: translateX(250px) rotate(-45deg);
            transform: translateX(250px) rotate(-45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
  }
}

@keyframes animate-burger-content-links {
  from {
    opacity: 0;
    -webkit-transform: translateX(250px) rotate(-45deg);
            transform: translateX(250px) rotate(-45deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
  }
}

nav div.active-burger-content a:last-of-type {
  outline: 2px solid rgba(255, 255, 255, 0.835);
}

div.first-block-container {
  margin-top: 25px;
  background-color: #2d2640;
  background-clip: content-box;
  position: relative;
  z-index: 0;
  padding-bottom: 400px;
}

div.first-block-container:before {
  content: " ";
  display: block;
  width: 200px;
  height: 196.5px;
  background: url(../../images/bg-pattern-intro-left-mobile.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 500px;
  z-index: 0;
}

div.first-block-container::after {
  content: " ";
  display: block;
  width: 150px;
  height: 400px;
  background: url(../../images/bg-pattern-intro-right-mobile.svg) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 200px;
  right: 0;
  z-index: 0;
}

div.first-block-container figure img {
  display: block;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 5;
}

div.first-block-container section {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 100px;
  padding-bottom: 100px;
}

div.first-block-container section h1 {
  color: rgba(255, 255, 255, 0.835);
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
}

div.first-block-container section p {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.835);
  font-family: "Karla", sans-serif;
  text-align: center;
  line-height: 1.8;
}

div.first-block-container section a {
  display: block;
  margin: 25px auto;
  width: 200px;
  padding: 15px 30px;
  color: rgba(255, 255, 255, 0.835);
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  background-color: #2d2640;
  border: 2px solid rgba(255, 255, 255, 0.835);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

div.first-block-container section a:hover {
  background-color: rgba(255, 255, 255, 0.835);
  color: #2d2640;
  cursor: pointer;
}

div.second-block {
  margin-top: -200px;
  position: relative;
}

div.second-block:before {
  content: " ";
  display: block;
  width: 210px;
  height: 1px;
  background-color: #837d87;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: -50px;
  z-index: 1;
}

div.second-block h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

div.second-block div.block {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

div.second-block div.block img {
  margin-bottom: 25px;
}

div.second-block div.block h2 {
  font-family: "DM Serif Display", serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

div.second-block div.block p {
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  color: #837d87;
  margin-bottom: 15px;
}

div.third-block {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  max-width: 1400px;
  height: 370px;
  background-color: #2d2640;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

div.third-block::before {
  content: " ";
  display: block;
  width: 200px;
  height: 360.23px;
  background: url(../../images/bg-pattern-how-we-work-mobile.svg) no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

div.third-block h1 {
  color: rgba(255, 255, 255, 0.835);
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin: 30px 0 20px;
}

div.third-block a {
  display: block;
  margin: 25px 0 10px;
  width: 200px;
  padding: 15px 5px;
  color: rgba(255, 255, 255, 0.835);
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  background-color: #2d2640;
  border: 2px solid rgba(255, 255, 255, 0.835);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

div.third-block a:hover {
  background-color: rgba(255, 255, 255, 0.835);
  color: #2d2640;
  cursor: pointer;
}

header.first-header {
  background: url(../../images/bg-pattern-footer-mobile.svg) center;
  background-size: cover;
  margin-top: 100px;
}

header.first-header div.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header.first-header div.container > a {
  padding: 15px 50px;
}

header.first-header div.container > a img {
  width: 112px;
  height: 18px;
  margin-left: calc(50% - 56px);
}

header.first-header div.container div.header-social-media {
  margin: 35px 0;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.first-header div.container div.header-social-media a {
  padding: 15px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

header.first-header div.container div.header-social-media a path {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

header.first-header div.container div.header-social-media a:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

header.first-header div.container div.header-social-media a:hover path {
  fill: black;
}

@media screen and (min-width: 800px) {
  nav {
    padding-bottom: 30px;
  }
  nav div.burger {
    display: none;
  }
  nav div.nav-links {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav div.nav-links a {
    display: inline-block;
    padding: 15px 20px;
    color: #837d87;
    font-weight: 700;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  nav div.nav-links a:hover {
    color: #2d2640;
  }
  nav div.nav-links a:last-of-type {
    color: #2d2640;
    outline: 2px solid #2d2640;
  }
  nav div.nav-links a:last-of-type:hover {
    color: rgba(255, 255, 255, 0.835);
    background-color: #2b272f;
  }
  div.first-block {
    background: url(../../images/bg.svg) no-repeat;
    background-size: cover;
    background-clip: content-box;
    overflow: hidden;
    height: 1000px;
    position: relative;
    padding-bottom: 350px;
    margin-bottom: 0px;
  }
  div.first-block::before {
    content: " ";
    display: block;
    width: 210px;
    height: 500px;
    background: url(../../images/bg-pattern-intro-left-desktop.svg) no-repeat;
    background-size: auto;
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 5;
  }
  div.first-block div.first-block-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
    background: transparent;
    position: static;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 250px;
  }
  div.first-block div.first-block-container::before {
    content: none;
  }
  div.first-block div.first-block-container::after {
    width: 450px;
    height: 600px;
    background: url(../../images/bg-pattern-intro-right-desktop.svg) no-repeat;
    position: absolute;
    top: -70px;
    right: -20px;
    z-index: 5;
  }
  div.first-block div.first-block-container figure {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    min-width: 400px;
  }
  div.first-block div.first-block-container figure img {
    content: url(../../images/image-intro-desktop.jpg);
    display: block;
    width: 100%;
    height: auto;
    min-height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    z-index: 5;
    top: 100px;
  }
  div.first-block div.first-block-container section {
    margin: 0;
    padding-bottom: 0;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    position: relative;
    z-index: 5;
    top: 200px;
  }
  div.first-block div.first-block-container section:before {
    content: " ";
    display: block;
    width: 210px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.835);
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 5;
  }
  div.first-block div.first-block-container section h1 {
    color: rgba(255, 255, 255, 0.835);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 2.8rem;
    text-align: left;
  }
  div.first-block div.first-block-container section p {
    font-size: 1.1rem;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.835);
    font-family: "Karla", sans-serif;
    text-align: left;
    line-height: 1.6;
  }
  div.first-block div.first-block-container section a {
    display: block;
    margin: 25px 0;
    padding: 15px 30px;
    color: rgba(255, 255, 255, 0.835);
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    background-color: #2d2640;
    border: 2px solid rgba(255, 255, 255, 0.835);
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  div.first-block div.first-block-container section a:hover {
    background-color: rgba(255, 255, 255, 0.835);
    color: #2d2640;
    cursor: pointer;
  }
  div.second-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
  }
  div.second-block:before {
    left: 0;
    -webkit-transform: none;
            transform: none;
    top: -50px;
  }
  div.second-block h1 {
    font-size: 3.5rem;
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1/1/2/4;
  }
  div.second-block div.block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    width: 100%;
    margin-bottom: 80px;
  }
  div.second-block div.block h2 {
    text-align: left;
    font-size: 2rem;
  }
  div.second-block div.block p {
    text-align: left;
    font-size: 1.2rem;
    width: 95%;
  }
  div.third-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 50px 0;
    height: 250px;
  }
  div.third-block::before {
    width: 500px;
    height: 287.36px;
    background: url(../../images/bg-pattern-how-we-work-desktop.svg) no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  div.third-block h1 {
    z-index: -0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin: 2;
    text-align: left;
    font-size: 3.5rem;
  }
  div.third-block a {
    z-index: 2;
    margin: 0;
  }
  header.first-header {
    background: none;
  }
  header.first-header div.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}
